<h2>Home Builder Sessions Page</h2>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>


<%= form_tag ("/sessions") do %>

<p>
<%= label_tag "Name:" %>
<%= text_field_tag "name" %> 

<br>
<%= label_tag "Email:" %>
<%= text_field_tag "email"%>
<br>
<%= label_tag "Password dummy:" %>
<%= text_field_tag "password"%>

</p>

<%= submit_tag "Login" %>
<% end %>
<a href='/logout'>Logout</a>
<a href='/register'>Sign up</a>
