<h2>Home Builder Sign Up</h2>
<%= form_tag ("/users") do %>

<p>
<%= label_tag "Name:" %>
<%= text_field_tag "name" %> 
<br>
<%= label_tag "Email:" %>
<%= text_field_tag "email"%>

<%= label_tag "Password:" %>
<%= text_field_tag "password_digest"%>

</p>

<%= submit_tag "Register" %>
<% end %>