<!DOCTYPE html>
<html>
  <head>
    <title>Builder App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<br>
  </head>
<center><h2> Bulider App </h2></center>
  <body>
    <% if session[:current_user_id] %>
    <nav>
    You are logged on as: <%= @current_user.name %>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>